*{
    margin: 0;
    padding : 0;
    box-sizing : border-box;
}
.navbar-brand{
   font-size: 1rem;
   margin-left: 25px;
}
.margin{
    margin-left: 15px;
    margin-right: 15px;
}
.waterimage{
    height: 100 vh;
    width : 100%;
}
.text{
    font-size: 1rem;
    color:grey;
}
.pencilimage1{
    margin-left: 200px;
    height: 100px;
    width: 100px;
}
.pencilimage2{
    margin-left: 200px;
    margin-bottom: 200px;
    height: 100px;
    width: 100px;
}
.pencilimage3{
    margin-left: 200px;
    height: 100px;
    width: 100px;
}